
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <title><%=title%></title>

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">
  </head>
  <body>
    <div class="row">
      <div class="col-xs-8 blog-main">
    <ul class="container">
      <div class="jumbotron">
        <h1><%= title %></h1>
        <p class="lead"><%= intro %></p>
      </div>
      <div class="container">
	<h3>Insert todo: </h3>
	<form action="/create" method="post" accept-charset="utf-8">
	  <input type="text" name="content" />
	</form>
      </div>
      <div class="row marketing">
        <% todos.forEach(function(todo) { %>
	<div class="col-lg-6">
          <h4><%= todo.content %></h4>
          <p>Time to get started </p>
	  
        </div>
	<% }) %>
	
      </div>
    </ul>
      </div> <!-- blog main -->
      <div class="row">
      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	<h3> Hello </h3>
      </div>
</div>
    <div class="footer">
      <p>&copy; Company 2014</p>
    </div>
    
</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
